{% extends "Main.html" %}
{% load static %}
{% block content%}
<div>
    <header>
        <h1 id="TituloSeccion">Opciones</h1>
    </header>
    <h1 id="Pro-Title">Ayuda y contacto</h1>
    <hr/>
    <h4>Correo: inout.hsj@gmail.com</h4>
    <h1 id="Pro-Title">Sobre nosotros</h1>
    <hr/>
    <div style="margin-left: 30px; width: 1400px;">
    <h1 id="Pro-Title" style="font-size: 28px;"> Motivacion </h1>
    <h4>InOut nace como respuesta a la poca o nula utilizacion de datos en diferentes mercados minoristas o mayoristas. </h4>
    <h1 id="Pro-Title" style="font-size: 28px;"> Nuestro Producto </h1>
    <h4>InOut es una plataforma web que busca ofrecerle a negocios grandes y pequeños la posibilidad de administrar su inventario y además de esto ofrecer herramientas que permitan al usuario utilizar mejor los datos generados en su negocio, para así tomar mejores decisiones</h4>
    <h1 id="Pro-Title" style="font-size: 28px;"> Desarrolladores </h1>
    <h4>Holmer Ortega Gómez</h4>
    <h4>Samuel Salazar Salazar</h4>
    <h4>Julian Giraldo Pérez</h4>
    </div>
</div>
{% endblock %} 