{% extends "Main.html" %}
{% load static %}
{% block content%}
<div>
    <header>
        <h1 id="TituloSeccion">Opciones</h1>
    </header>
    <h1 id="Pro-Title">Ayuda y contacto</h1>
    <hr/>
    <h4>Correo: inout.hsj@gmail.com</h4>
    <h1 id="Pro-Title">Sobre nosotros</h1>
    <hr/>
    <h4>InOut es una plataforma web que busca ofrecerle a negocios grandes y pequeños la posibilidad de administrar su inventario y además de esto ofrecer herramientas que permitan al usuario utilizar mejor los datos generados en su negocio, para así tomar mejores decisiones</h4>

</div>
{% endblock %} 